<header>
    <div class="main">
        <h1 class="Title">Фиш Маркет</h1>
        <div class="div-login-register">
            {{#if username}}
                <span id="user-message">Вы вошли в систему как {{username}}</span>
                <button id="logout-btn">Выйти</button>
            {{else}}
                <button id="login-show">Логин</button>
                <button id="register-show">Регистрация</button>
            {{/if}}
        </div>
    </div>
</header>