{{#extend "main"}}
    {{#content "title"}}Бизнес партнеры - Фиш Маркет{{/content}}
    {{#content "description"}}Бизнес_Партнёры{{/content}}
    {{#content "keywords"}}партнёры, магазин рыбы{{/content}}

    <h1>Для бизнес партнеров</h1>
    <p>Свяжитесь с нами по телефону или электронной почте.</p>
{{/extend}}