{{#extend "main"}}
    {{#content "title"}}Контакты - Фиш Маркет{{/content}}
    {{#content "description"}}Контакты{{/content}}
    {{#content "keywords"}}контакты, магазин рыбы{{/content}}

    <h1>Наши контакты здесь</h1>
    <p>Свяжитесь с нами по телефону или электронной почте.</p>
{{/extend}}