{{#extend "main"}}
    {{#content "title"}}Доставка - Фиш Маркет{{/content}}
    {{#content "description"}}Доставка{{/content}}
    {{#content "keywords"}}доставка, магазин рыбы{{/content}}

    <h1>Доставка</h1>
    <p>Узнайте о доступных способах доставки и сроках.</p>
{{/extend}}
