{{#extend "main"}}
    {{#content "title"}}Фиш Маркет{{/content}}
    {{#content "description"}}магазин рыбы{{/content}}
    {{#content "keywords"}}онлайн магазин рыбы{{/content}}

    <section id="my-products">
        <h1>Каталог</h1>
        <p>Здесь будет каталог товаров...</p>
    </section>
{{/extend}}
