{{#extend "main"}}
    {{#content "title"}}Оплата - Фиш Маркет{{/content}}
    {{#content "description"}}Оплата{{/content}}
    {{#content "keywords"}}оплата, магазин рыбы{{/content}}

    <h1>Оплата</h1>
    <p>Выберите удобный способ оплаты для вашего заказа.</p>
{{/extend}}
