{{#extend "main"}}
    {{#content "title"}}Личный кабинет - Фиш Маркет{{/content}}
    {{#content "description"}}Личный кабинет{{/content}}
    {{#content "keywords"}}личный кабинет, магазин рыбы{{/content}}

    <h1>Личный кабинет</h1>
    <p>Здесь вы можете управлять своими заказами и настройками.</p>
{{/extend}}
