{{#extend "main"}}
    {{#content "title"}}Отзывы - Фиш Маркет{{/content}}
    {{#content "description"}}Отзывы{{/content}}
    {{#content "keywords"}}отзывы, магазин рыбы{{/content}}

    <h1>Отзывы</h1>
    <p>Оставьте ваш отзыв на нашем сайте.</p>
{{/extend}}
