{{#extend "main"}}
    {{#content "title"}}Вакансии - Фиш Маркет{{/content}}
    {{#content "description"}}Вакансии{{/content}}
    {{#content "keywords"}}вакансии, магазин рыбы{{/content}}

    <h1>Вакансии</h1>
    <p>Работайте с нами в общем деле.</p>
{{/extend}}
