.main {
    text-align: center;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Roboto", sans-serif;
}

.Title {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 60px;
    color: black;
}

.logo {
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.login-button {
    box-shadow: 2px 2px 2px;
    float: right;
}

.registry-button {
    box-shadow: 2px 2px 2px;
    float: right;
}



/* .Menu {
    font-size: 15px;
    line-height: normal;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    text-align: left;
} */

/* фон всего сайта */
* {background-color: whitesmoke}

ul {
    list-style: none;
}

.product-item {
    position: relative;
    color: black;
}  


.product-image-wrap img {
    position: relative;
    width: 150px;
    height: 130px;
}

.product-image-wrap .Sale  {
    position: absolute;
    margin: 0 5px 5px 0;
    top: 0px;
    left: 55px;
    padding: 0.15em;
    background-color: #FE7200;
    color:azure;
}

.product-image-wrap .Discount {
    position: absolute;
    margin: 0 5px 5px 0;
    top: 0;
    left: 0;
    padding: 0.15em;
    background-color: #e44542;
    color:azure;
}

.cart-images {
    width: 40px !important;
    height: 40px !important;
    max-width: 40px;
    max-height: 40px;
    display: inline-block;
    object-fit: contain;
}

.product-text-description {
    font-size: 15px;
    line-height: normal;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-weight:lighter;
    text-align: left;
    color: black;
    background-color: whitesmoke;
    text-indent: 0%;
    white-space: inherit;
    text-transform: none;
}

.flex-container {
    align-items: flex-start;
    margin: auto;
    flex-wrap: wrap;
    display: flex;
}

.flex-container > li {
    width: 160px;
    margin: 10px;
    text-align: center;
    /* line-height: 75px; */
}

@media screen and (max-width: 768px) {
    .flex-container > li {
        display: none; /* Hide elements that don't fit */
    }

    .ad-banner {
        display: none; /* Hide the banner on small screens */
    }
}

.footer {
    flex-wrap: wrap;
    display: flex;
    flex-direction: column;
    padding: 20px;
    /* background-image: url(images/footer-wave-1.png); */
}



.footer > li {
    width: 10px;
    margin: 10px;
    text-align: center;
}

.footer-banner {
    width: 100%;
    margin-top: 20px;
}

.footer-banner img {
    height: 200px;
    width: 100%;
    border-radius: 8px;
}

@media screen and (max-width: 768px) {
    .flex-container > li {
        display: none; /* li элементы не покажутся если не вписались */
    }

    .ad-banner {
        display: none; /* баннер не покажется на телефонах*/
    }
}

#income-statements {
    margin: 20px 0px; /*отступ от остальных элементов*/
    padding: 5px 15px; /*внутренний отступ*/
    border-radius: 8px;
    box-shadow: 0 2px 4px hsla(0, 2%, 33%, 0.302);
}

.table-container {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 10px; /*зазор между столбцами*/
    margin-top: 20px;
}

.table-row {
    display: grid;
}

.table-row > div {
    padding: 2px;
    border: 1px solid #ddd; /*явное выделение границ столбцов и строк*/ 
    text-align: center;
}

.header > div {
    font-weight: bold;
}

.table-row:nth-child(2n) > div {
    background-color: hsl(116, 45%, 76%);
}

.table-row:nth-child(2n+3) > div {
    background-color: hwb(49 69% 2%);
}

@media screen and (max-width: 768px) {
    .table-row.header {
        display: none; /* Допустим что на телефонах пользователи
        не захотят видеть хедер */
    }

    .table-row > div {
        text-align: left;
    }
}

.nav {
    position: relative;
    width: 100%;
    background-color: #046a8d;
    /* background-color: #d4e7ee; */
    max-width: 1200px;
    margin: 0 auto; /*выравнивание по центру*/ 
    display: flex;
    /* display: inline; */
    align-items: center;
    padding: 5px;
}

.nav ul {
    background: #d4e7ee;
    list-style: none;
    margin: 0;
    padding: 5px;
}

.nav a {    
    text-decoration: none;
}

.visible-menu {
    display: flex;
    gap: 0px;
    padding: 0;
    margin: 0;
    list-style: none;
    align-items: center;
}

.visible-menu li {
    display: inline-block;
    margin: 0;
    padding: 0;
}

.visible-menu a {
    display: block;
    background-color: #d4e7ee;
    text-decoration: none;
    padding: 14px 20px;
    font-size: 18px;
    color: #29838c;
    margin: 0;
    border: none;
}

/* ховер это ключевой элемент в этой лабе, он показывает изменения
при наведении мышки на объект */
.visible-menu a:hover {
    background-color: #29838c;
    color: white;
}

.burger {
    position: absolute;
    width: 60px;
    height: 100%;
    right: 0;
    padding: 0;
    border: 0;
    outline: none;
    background: #29838c;
    color: #ffffff;
    cursor: pointer;
}

.burger svg {
    transition: 0.4s;
    background-color: #29838c;
}

.burger .active svg {
    transform: rotate(90deg);
}

.burger-count {
    position: absolute;
    width: 26px;
    height: 26px;
    left: 0;
    top: 50%;
    text-align: center;
    background: #29838c;
    color: white;
    font-size: 14px;
    border: 2px solid white;
    line-height: 22px;
    border-radius: 50%; /*округляем кнопку*/
    font-weight: bold;
    transform: translate(-50%, -50%);

}

.hidden-menu {
    position: fixed;
    right: 0;
    top: 50px;
    min-width: 250px;
    padding: 10px 0px;
    background: #29838c;
    transition: 0.4s;
    transform: translateX(100%);
}

.hidden-menu.active {
    transform: translateX(0);
}

.hidden-menu a {
    padding: 10px 10px 10px 20px;
    color: #29838c;
    background-color: #d4e7ee;
    font-size: 18px;
    display: block;
}

.hidden-menu a:hover {
    background-color: hwb(0 100% 0%);
    color: #29838c;
}

.nav .hidden {
    display: none;
}

.visible-menu a.active-menu-section {
    border: 2px solid #29838c;
    padding: 12px 18px;
    margin: 0;
}